@import "../src//variants.css";

main {
  color: var(--text-color);
  height: 80vh;
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 1.5vh;
  margin-top: 2.5vw;
}

.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff10;
  gap: 3vh;
  border-radius: 1vw;
  height: 100%;
  width: 10vw;
  padding: 2vh 0px;
}

.points h2 {
  font-size: 2.25vh;
}

.points span {
  min-width: 10vh;
  min-height: 10vh;
  border-radius: 999px;
  border: 1vh solid #38c500;
  font-size: 2vh;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff10;
  border-radius: 1vw;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3vh;
}

.game input {
  padding: 2vh;
  outline: none;
  width: 50vh;
  height: fit-content;
  background-color: var(--white-700);
  border: none;
  border-radius: 0.25vw;
}

.game button {
  padding: 1.5vh;
  width: 50vh;
  border-radius: 0.25vw;
  border: none;
  outline: none;
  background-color: var(--black-700);
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s all ease-in-out;
}

.game button:hover {
  background-color: #38c500;
  color: #000;
}

#game-phases {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

#phase-word {
  text-decoration: underline;
  font-size: 2.5rem;
  margin-bottom: 6vh;
  position: absolute;
  padding: 1vh 4vh;
  border-radius: 1vh;
  transition: 0.2s all ease-in-out;
}

#phase-word:hover {
  background-color: var(--black-700);
}

.content-game {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 3vh;
  margin-top: auto;
  margin-bottom: 8vh;
}

#text-error {
  margin: 0px;
  margin-top: -2vh;
}
