@import "../src/variants.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--black-700);
}

header {
  width: 100%;
  background-color: var(--black-500);
  border-bottom: 0.1px solid var(--border-color);
  position: fixed;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 2.5vh;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
}

header a:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
